# Dependencies
node_modules/
jspm_packages/

# Build and Distribution
lib-cov/
coverage/
*.lcov
.cache/
.parcel-cache/
.turbo/
*.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environments (Sensitive Variables)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editors and System
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests and Tools
.nyc_output
.eslintcache
.stylelintcache